<ion-header>
  <ion-toolbar>
    <ion-title>Drinks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="centered">
      <ion-searchbar></ion-searchbar>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Bud Light $2</h2>
                <p >DJ Dugout</p>
          </ion-label>
          <ion-text slot="end" color="success">
              <p>ending in 3 hours</p>
            </ion-text>
        </ion-item>
      </ion-list>
  </div>
 
</ion-content>